@import "../../global.scss";

.topbar {
    background-color: $mainColor;
    color: #cfb998;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 999;
    transition: all 0.5s ease;

    .wrapper {
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
            display: flex;
            align-items: center;

            .logo {
                font-size: 40px;
                font-weight: 700;
                align-items: center;
                text-decoration: none;
                margin-right: 40px;
                color: #cfb998;
            }
        }

        .right {
            .hamburger {
                width: 32px;
                height: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;

                span {
                    width: 100%;
                    height: 3px;
                    background-color: blanchedalmond;
                    transform-origin: left;
                    transition: all 0.5s ease;
                }
            }

        }
    }

    &.active {
        background-color: #783030eb;
        color: blanchedalmond;

        .hamburger {

            span {
                &:first-child {
                    background-color: blanchedalmond;
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    background-color: blanchedalmond;
                    opacity: 0;
                }

                &:last-child {
                    background-color: blanchedalmond;
                    transform: rotate(-45deg);
                }
            }
        }
    }

}


/* .btn:hover{
    background-color:palevioletred;
    color: honeydew;
} */