@import "../../global.scss";

.portfolio_container {
  background-color: #f7efef;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  height: auto;
  width: 100%;

  h1 {
    font-size: 30px;
    color: #7d2323e6;
    margin: 15px auto;
    overflow: hidden;

    @include mobile {
      font-size: 30px;
      margin-top: 5px;
    }
  }

  .hrstyle {
    border: 0.5px solid $mainColor;
    background-color: $mainColor;
    width: 90vw;
    margin: 0 auto;
  }

  .left {
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
  }

  .right {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }
}
