@import "../../global.scss";

.portfolioList{
    font-size: 14px;
    margin-right: 50px;
    padding: 7px;
    width: 150px;
    cursor: pointer;

    @include mobile{
        margin-right: 20px; 
        display: flex;
        align-items: center;
        background-color: #7d232385;
        border-radius: 20px;
        margin: 5px;
        justify-content: center;
        color: #ebdcc4;
    }

    &.active{
        border-bottom: #7d232385 5px solid;
        color: black;
    }
}