@import "../../global.scss";

.contact {
  background-color: #ffc0cb99;
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  .right {
    flex: 0.7;
    overflow: hidden;
    justify-content: flex-end;

    .shape {
      width: 100%;
      height: 100%;
      background-color: #6a1e1e9e;
      border-top-left-radius: 100%;
      border-bottom-left-radius: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;

      @include mobile {
        align-items: flex-start;
      }

      .img {
        height: 90%;

        @include mobile {
          height: 50%;
        }
      }

      .phoneIcon{
        font-size: 500px;
        color: #ffc0cb99;
        transform: rotateX(180deg);
        transform: rotateY(180deg);
        margin-left: 10px;
        margin-bottom: 40px;
      }
    }
  }
  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 30px;
      margin-bottom: 30px;
    }

    .itemContainer {
      display: flex;
      align-items: center;
      margin-left: 40px;
      margin-bottom: 20px;

      @include mobile {
        display: none;
      }

      a {
        color: black;
        &:hover {
          color: $mainColor;
        }
      }

      .icon {
        font-size: 50px;
        margin-right: 25px;
      }

      span {
        font-size: 15px;
        font-weight: 400;
      }
    }

    .hrstyle {
      border: 1px solid #ffc0cb99;
      background-color: $mainColor;
      width: 70%;
    }

    form {
      width: 70%;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      input {
        width: 300px;
        height: 30px;
        font-size: 14px;

        @include mobile {
          width: 200px;
          height: 20px;
        }
      }

      textarea {
        width: 300px;
        height: 200px;
        font-size: 14px;

        @include mobile {
          width: 200px;
          height: 100px;
        }
      }

      button {
        width: 150px;
        height: 30px;
        color: white;
        background-color: crimson;
        border: none;
        border-radius: 10px;
        font-weight: 500;
        cursor: pointer;

        &:focus {
          outline: none;
        }
      }

      span {
        color: green;
      }
    }
  }
}
