@import "../../global.scss";

.intro {
  background-color: lightcyan;
  display: flex;

  @include mobile {
    flex-direction: column;
    justify-content: flex-start;
  }

  .left {
    flex: 0.4;
    overflow: hidden;

    @include mobile {
      flex: 0.6;
      flex-direction: column;
    }

    .imgContainer {
      width: 85%;
      height: 96%;
      border-top-right-radius: 100%;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
      margin-top: 5%;
      background-color: pink;
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;

      @include mobile {
        width: 100%;
        height: 100%;
        border-top-right-radius: 100%;
        box-shadow: 0px 0px 15px -8px black;
      }

      img {
        height: 70%;

        @include mobile {
          height: 80%;
        }
      }
    }
  }

  .center {
    flex: 0.3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include mobile {
      flex: 0.4;
    }

    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include mobile {
        padding-left: 0;
        align-items: center;
      }

      h1 {
        font-size: 45px;
        margin: 10px 0;

        @include mobile {
          font-size: 30px;
          overflow: hidden;
        }
      }

      h2 {
        font-size: 25px;
        overflow: hidden;

        @include mobile {
          font-size: 20px;
          overflow: hidden;
        }
      }

      h3 {
        font-size: 25px;

        @include mobile {
          font-size: 18px;
          overflow: hidden;
        }

        span {
          font-size: inherit;
          color: crimson;
          padding-left: 10px;
        }

        .ityped-cursor {
          animation: blink 1s infinite;
        }

        @keyframes blink {
          50% {
            opacity: 1;
          }

          100% {
            opacity: 0;
          }
        }
      }
    }

    a {
      overflow: hidden;
      margin-bottom: 10px;
      animation: arrowBlink 2s infinite;

      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }

  .right {
    flex: 0.3;
    position: relative;
    overflow: hidden;
    justify-content: flex-end;
    display: flex;

    @include mobile {
      display: none;
    }

    .smallContainer {
      width: 85%;
      height: 70%;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
      border-bottom-left-radius: 100%;
      background-color: pink;
    }
  }
}
