@import "../../global.scss";

.testimonials {
  background-color: #ecfbfb;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mobile {
     justify-content: space-around;
  }

  h1 {
    margin-top: 35px;
    font-size: 50px;
    overflow: hidden;
    color: #7d2323e6;

    @include mobile {
      font-size: 30px;
    }
  }

  .hrstyle {
    border: 1px solid #ecfbfb;
    background-color: teal;
    width: 80%;
    margin-top: 15px;
  }

  .container {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
      flex-direction: row;
      flex-wrap: wrap;
      height: 80%;
    }

    .card {
      width: 30%;
      height: 80%;
      border-radius: 10px;
      box-shadow: 0px 0px 15px -8px black;
      background-color: #b6d8d8;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 20px;
      margin: 0 30px;
      transition: all 1s ease;

      @include mobile {
        height: 50%;
        margin: 20px;

      }

      &.featured {
        width: 300px;
        height: 75%;
        margin: 0 30px;

        @include mobile {
          width: 250px;
          height: 180px;
          margin: 1px;
        }
      }

      &:hover {
        transform: scale(1.1);
      }

      .top {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          &.user {
            height: 60px;
            width: 60px;
            border-radius: 50%;
            object-fit: cover;
            margin: 0 30px;
            overflow: hidden;

            @include mobile {
              width: 30px;
              height: 30px;
            }
          }
        }
      }

      .center {
        padding: 10px;
        border-radius: 10px;
        background-color: white;
        font-size: 10px;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .description {
          font-weight: 700;
          font-family: system-ui;
          font-style: italic;
          color: $mainColor;
          overflow: hidden;

          &::first-line {
            font-size: 18px;
            color: $mainColor;
          }
        }

        @include mobile {
          font-size: 10px;
          padding: 5px;
        }
      }

      .bottom {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        h4 {
          // margin: 8px 0px 15px 0px;
          color: #1a5e5e;

          @include mobile {
            font-size: 14px;
          }
        }

        h6 {
          color: rgb(121, 115, 115);

          @include mobile {
            font-size: 13px;
          }
        }
      }
    }
  }
}
