@import "../../global.scss";

.work {
  background-color: #e0ffff;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 25px;
    color: #5a1616;
    margin: 15px auto;
    overflow: hidden;

    @include mobile {
      font-size: 20px;
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }

  .hrstyle {
    border: 0.5px solid #5a1616;
    background-color: #5a1616;
    width: 90vw;
    margin: 0 auto;
  }

  .workCount {
    @include mobile {
      display: none;
    }
  }

  .sliderContainer {
    display: flex;
    height: 65vh;
    align-items: center;
    justify-content: center;

    .arrow {
      font-size: 50px;
      color: #5a1616;
      position: absolute;
      cursor: pointer;

      @include mobile {
        display: none;
        font-size: 20px;
      }

      &.left {
        left: 100px;
        @include mobile {
          left: 20px;
        }
      }

      &.right {
        right: 100px;

        @include mobile {
          right: 20px;
        }
      }
    }

    .slider {
      height: 350px;
      display: flex;
      position: absolute;
      left: 0;
      transition: all 0.8s ease-out;

      @include mobile {
        height: 95vh;
        flex-direction: column;
        justify-content: center;
      }

      .container {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25px 0px 25px 0px;

        @include mobile {
          padding: 0px;
        }

        .item {
          width: 700px;
          height: 100%;
          color: black;
          background-color: white;
          box-shadow: 0 3px 20px black;
          border-radius: 45px;
          display: flex;
          align-items: center;
          justify-content: center;

          @include mobile {
            width: 80%;
            height: 150px;
            margin: 20px 0;
            box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
              rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
          }

          .left {
            flex: 4;
            height: 80%;
            display: flex;
            align-items: center;
            justify-content: center;

            @include mobile {
              flex: 0.7;
              padding-left: 20px;
            }

            .leftContainer {
              width: 90%;
              height: 85%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;

              @include mobile {
                width: 100%;
                height: 100%;
              }

              .imgContainer {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                @include mobile {
                  display: none;
                }

                img {
                  width: 25px;

                  @include mobile {
                    width: 10px;
                  }
                }
              }

              h2 {
                font-size: 18px;
                color: #5a1616;

                @include mobile {
                  font-size: 13px;
                }
              }

              p {
                font-size: 12px;

                @include mobile {
                  font-size: 7px;
                }
              }
              a {
                font-size: 12px;
                color: blue;

                @include mobile {
                  font-size: 9px;
                }
              }

              span {
                font-size: 12px;
                font-weight: 600;
                text-decoration: underline;
                cursor: pointer;
              }
            }
          }

          .right {
            flex: 8;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;

            img {
              width: 400;
              transform: rotate(-10deg);
            }

            @include mobile {
              width: 100;
              flex: 0.3;
            }
          }
        }
      }
    }
  }
}
